<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EntityManagerSOASoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EntityManagerSOASoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://vb-bizagi11/PersonalApp2GJ/webservices/entitymanagersoa.asmx"
          binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap"
          contract="SOABAREntityManager.EntityManagerSOASoap" name="EntityManagerSOASoap" />
      <endpoint address="http://vb-bizagi11/PersonalApp2GJ/webservices/entitymanagersoa.asmx"
          binding="customBinding" bindingConfiguration="EntityManagerSOASoap12"
          contract="SOABAREntityManager.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
    </client>
  </system.serviceModel>
</configuration>